@media only screen  and (min-width : 569px) and (max-width: 737px) {

  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #222;
  }

  .container {
    margin: 0;
    padding: 0;
    width: 100%;

    color: white;
    background: #222;
    background: radial-gradient(#333333, #111111);

    font-family: 'Pavanam', sans-serif, "Gill Sans";

  }


  //------------------------------------- LEFT LAYOUT ---------------------------------
  aside {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 240px;
    height: 100%;
  }

  header {
    position: relative;
    margin: 0;
    padding: 0;
    height: 15%;

    h1, h2 {
      position: absolute;
      bottom: -2px;
      right: 10px;
    }

    h1 {
      font-size: 22px;
      letter-spacing: 2px;
    }
    h2 {
      margin: 5px 0;
      font-size: 12px;
      letter-spacing: 1px;
      color: $blue;
    }
  }

  img.profile_image {
    padding: 0;
    margin: 0;
    width: 25%;

    position: absolute;
    z-index: 50;
    bottom: -38px;
    left: 8px;

    border-top: 7px solid $red_2;
    border-right: 7px solid $red_3;
    border-left: 7px solid $red;
    border-bottom: 7px solid $red;
    border-radius: 50%;

  }

  //---------------------------------- CONTACT ICONS -----------------------------

  .contact {
    position: relative;
    z-index: 50;

  }

  .contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }

  .contact ul li a i:before {
    font-size: 14px;
    margin: 0;
    padding: 12px;
    border-radius: 50%;
    color: white;
    background: black;

    text-decoration: none;
    transition: all 0.5s ease;
  }

  .contact ul li a:hover i:before {
    background: white;
    color: black;
  }

  .contact ul li a:active i:before {
    background: black;
    color: white;
  }

  .contact_icons {
    position: absolute;
  }

  .flaticon-note {
    top: 15px;
    right: 43%;
  }

  .flaticon-technology {
    top: 15px;
    right: 23%;
  }

  .flaticon-linkedin-letters {
    top: 15px;
    right: 3%;
  }

  //--------------------------------------- ABOUT ----------------------------------

  .about {
    position: relative;
    margin: 0;
    padding: 20% 5% 5% 5%;
    width: 90%;
    height: 30%;

    background: $red;
    background: linear-gradient(225deg, transparent 100px, $red 0), linear-gradient(225deg, transparent 50px, $red_2 0), linear-gradient(225deg, transparent 0px, $red_3 0);
    box-shadow: 1px 1px 5px black;

    p {
      font-size: 12px;
      text-shadow: 0 1px 1px $red_dark;
    }
  }

  //--------------------------------------- SKILL CLOUD ------------------------------

  .skills > span {
    position: absolute;
    text-transform: uppercase;
  }

  .skills {
    position: relative;
    height: 35%;

    //background: #222;

    span#html5 {
      top: 36%;
      left: 42%;
      font-size: 20px;
      color: white;
    }

    span#css3 {
      top: 50%;
      left: 20%;
      font-size: 20px;
      color: $red;
    }

    span#js {
      top: 57%;
      right: 16%;
      font-size: 20px;
      color: $blue;
    }

    span#jquery {
      top: 25%;
      right: 19%;
      font-size: 10px;
      color: white;
    }

    span#ux {
      top: 42%;
      right: 18%;
      font-size: 14px;
      color: $red;
    }

    span#responsive {
      top: 36%;
      left: 8%;
      font-size: 14px;
      color: $red;
    }

    span#sass {
      top: 77%;
      right: 30%;
      font-size: 14px;
      color: $red;
    }

    span#gulp {
      top: 62%;
      right: 4%;
      font-size: 10px;
      color: white;
    }

    span#php {
      top: 57%;
      left: 10%;
      font-size: 10px;
      color: $blue;

    }

    span#wp {
      top: 78%;
      left: 21%;
      font-size: 10px;
      color: white;
    }

    span#git {
      top: 20%;
      left: 17%;
      font-size: 10px;
      color: $blue;
    }

  }

  //---------------------- ZIGZAG BORDER -------------------
  .skills:after {
    background: linear-gradient(-45deg, transparent 30px, $red 0), linear-gradient(45deg, transparent 30px, $red 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 30px 30px;
    content: " ";
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 100%;
    height: 40px;
  }

  //-------------------------------------------------- PORTFOLIO CONTENT --------------------------------

  .portfolio_content {
    margin: 0 0 0 0;
    padding: 1%;
    width: calc(98% - 240px);
    min-height: 100vh;

    float: right;

    .section {
      position: relative;
      z-index: 10;
      margin: 1% 1% 0 1%;
      padding: 0;
      width: 100%;

    }

    img {
      width: 100%;
      margin: 0;
      padding: 0;

    }

    .img_color {
      position: relative;
      top: 0;
      left: 0;

      margin: 0;
      padding: 5% 10% 15% 10%;
      width: 80%;

      background: #444;
      background: linear-gradient(-45deg, transparent 140px, #222 0), linear-gradient(-45deg, transparent 70px, #333 0), linear-gradient(-45deg, transparent 0px, #444 0);


      display: none;

      h3 {
        font-size: 18px;
        color: white;
        text-shadow: 0 1px 1px $red_dark;
      }
      p {
        font-size: 14px;
        color: white;
        text-shadow: 0 1px 1px $red_dark;
        margin-bottom: 30px;
      }
    }

    a.mobile_link {
      display: block;
      margin: 10px auto;
      padding: 15px 15px;

      text-align: center;
      font-size: 14px;
      color: white;
      background: tomato;
      //border: 1px solid white;
      text-decoration: none;
    }

    a.mobile_link:active {
      background: white;
      color: $red;
      text-shadow: none;
    }

    .toggle_text {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%);

      z-index: 200;
      width: 80px;
      height: 40px;
      margin: 0;
      padding: 0;

      color: white;
      //text-shadow: 0 0.5px 1px $red_dark;
      background: #111;
      font-size: 34px;

      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      box-shadow: 0 -0.5px 1px #333;
    }

    .toggle_text:active {
      background: white;
      color: #111;
    }

    .toggle_text span {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    span.toggle_hide {
      display: none;
    }
  }

  //-------------------------------------- CREDIT-ICON -----------------------------------
  /*
  .pulse_arrow {
    display: none;

    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: calc(50% - 213px);

    width: 25px;
    height: 25px;

    background: none;
    border-right: 4px solid $red_dark;
    border-bottom: 4px solid $red;
    box-shadow: 2px 2px 2px #444;

    transform: rotate(45deg);
  }

  .pulse_arrow {*/
  //-webkit-animation: pulse_arrow 3s infinite; /* Safari 4+ */
  //-moz-animation: pulse_arrow 3s infinite; /* Fx 5+ */
  //-o-animation: pulse_arrow 3s infinite; /* Opera 12+ */
  //animation: pulse_arrow 3s infinite; /* IE 10+, Fx 29+ */
  /*}

  @-webkit-keyframes pulse_arrow {
    0% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(1.2);
    }
    100% {
      transform: rotate(45deg) scale(1);
    }
  }
  @-moz-keyframes pulse_arrow {
    0% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(1.2);
    }
    100% {
      transform: rotate(45deg) scale(1);
    }
  }
  @-o-keyframes pulse_arrow {
    0% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(1.2);
    }
    100% {
      transform: rotate(45deg) scale(1);
    }
  }
  @keyframes pulse_arrow {
    0% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(1.2);
    }
    100% {
      transform: rotate(45deg) scale(1);
    }
  }*/

  //-------------------------------------- CREDIT-ICON -----------------------------------

  .credit_icon {
    position: fixed;
    z-index: 100;
    bottom: -40px;
    right: -40px;

    width: 80px;
    height: 80px;
    background: $red;
    box-shadow: -1px -1px 3px #333;

    transform: rotate(45deg);
    transition: all 0.6s ease;

    cursor: pointer;

    p {
      font-size: 20px;
      color: white;
      text-shadow: 0 1px 1px $red_dark;
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      left: 10px;

      transform: rotate(-45deg);
      transition: all 0.3s ease;

    }
  }

  .credit_icon:hover {
    background: $red_2;
    p {
      color: white;
      text-shadow: none;
    }
  }

  .credit_content {
    position: fixed;
    z-index: 99;
    bottom: 0px;
    right: 0px;

    margin: 0;
    padding: 2% 3%;
    width: 260px;
    background: white;
    background: linear-gradient(-45deg, transparent 120px, white 0), linear-gradient(-45deg, transparent 80px, $white_2 0), linear-gradient(-45deg, transparent 40px, $white_3 0);
    border: 1px solid #666;

    display: none;

    p {
      color: #666;
      font-size: 12px;
      margin: 5px 0;
    }
    a {
      color: $blue;
      font-size: 12px;
      text-decoration: none;
    }
  }
  .credit_content a:hover {
    color: $blue_dark;
    text-decoration: underline;
  }
}
